@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px; /* Ajustado para um tamanho menor */
    width: 300px; /* Ajustado para um tamanho menor */
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0,0,0,5);
    position: fixed; /* Alterado para fixed */
    top: 20px;
    right: 20px;
}

.clock div {
    height: 80px; /* Ajustado para um tamanho menor */
    width: 80px; /* Ajustado para um tamanho menor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5,5,5,.9);
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.clock span {
    font-weight: bold;
    font-size: 40px; /* Ajustado para um tamanho menor */
}

.clock span.time {
    font-size: 10px;
}

.register {
    position: fixed;
    top: 140px; 
    right: 90px;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.register button {
    background: rgba(5,5,5,.9);
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
}

.register button:hover {
    background: rgba(5,5,5,1);
}

.register button a {
    text-decoration: none;
    color: #fff;
}